@media screen(max-width:1440px) {
    
}
#header-block{
    background-color: #A786B1;
    width:90% ;
    height: 413px;
    position: absolute;
    top:23px;
    left:70px;
  
}
#side-block{
    background-color: #343434;
    width: 595px;
    height:1625px;
    position: absolute;
    top:0px;
    left: 0px;
}
#my-photo{
    position: absolute;
    top:66px;
    left:73px;
}
#text{
    color:white;
    font-family:Arial, sans-serif ;

}
#name{
    font-family:Arial, sans-serif ;
    color: white;
    font-size: 3.5em;
    font-weight: 100;
    position: absolute;
    top:80px;
    left:441px;
    bottom: 203px;
}
#qualific{
    font-family:Arial, sans-serif ;
    color: white;
    font-size: 2em;
    position: absolute;
    top:200px;
    left:441px;
    bottom: 203px;
}
#con-head{
    font-family:Arial, sans-serif ;
    color: #A786B1;
    font-weight: 100;
    position: absolute;
    top:489px;
    left:73px;
   
}
#sec-contacts{
    font-family:Arial, sans-serif ;
    color: white;
    font-size: 20px;
    position:absolute;
    top:542px;
    left:70px;
   }
#point-head{
    font-family:Arial, sans-serif ;
    color: #A786B1;
    font-weight: 100;
    position: absolute;
    top:702px;
    left:73px;
}
#sec-points{
    font-family:Arial, sans-serif ;
    color: white;
    font-size: 20px;
    position:absolute;
    top:755px;
    left:70px;
}
#skill-head{
    font-family:Arial, sans-serif ;
    color: #A786B1;
    font-weight: 100;
    position: absolute;
    top:919px;
    left:73px;
}
#sec-skills{
    font-family:Arial, sans-serif ;
    color: white;
    font-size: 20px;
    position:absolute;
    top:972px;
    left:70px;
}
#lang-head{
    font-family:Arial, sans-serif ;
    color: #A786B1;
    font-weight: 100;
    position: absolute;
    top: 1248px;
    left:73px;
}
#sec-lang{
    font-family:Arial, sans-serif ;
    color: white;
    font-size: 20px;
    position:absolute;
    top:1301px;
    left:70px;
}
#about{
    font-family:Arial, sans-serif ;
    color: white;
    background-color: #A786B1;
    font-weight: 100;
    position: absolute;
    top:489px;
    left:644px;
}
#about-text{
    font-family:Arial, sans-serif ;
    color: black;
    font-weight: 100;
    font-size: 20px;
    position: absolute;
    top:542px;
    left:644px;
    max-width: 550px;
}
#code{
    font-family:Arial, sans-serif ;
    color: white;
    background-color: #A786B1;
    font-weight: 100;
    position: absolute;
    top:700px;
    left:644px; 
}
#code-text{
    position: absolute;
    top:755px;
    left:644px; 
    max-width: 550px;
}
#job-head{
    font-family:Arial, sans-serif ;
    color: white;
    background-color: #A786B1;
    font-weight: 100;
    position: absolute;
    top: 1246px;
    left:644px;
}
#sec-job{
    font-family:Arial, sans-serif ;
    color: black;
    font-size: 20px;
    position:absolute;
    top:1301px;
    left:631px;
}
#edu-head{
    font-family:Arial, sans-serif ;
    color: white;
    background-color: #A786B1;
    font-weight: 100;
    position: absolute;
    top: 1406px;
    left:644px;
}
#sec-edu{
    font-family:Arial, sans-serif ;
    color: black;
    font-size: 20px;
    position:absolute;
    top:1463px;
    left:631px;
}
#footer-back{
    width: 100%;
    height: 237px;
    background-color: #1F1F1F;
    position: absolute;
    top:1623px;
    left:0px;
}
.ref{
   text-decoration: none;
   color:#A786B1
}
#git-logo{
    position: absolute;
    top:1735px;
    left:151px;
}
#git-nick{
    color: #808184;
    font-family:Arial, sans-serif ;
    font-size: 32px;
    position: absolute;
    top:1720px;
    left:231px;
}
#rs-logo{
    position: absolute;
    top:1691px;
    left:812px;
}
.list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .link {
    font-family:Arial, sans-serif ;
    padding: 0 31px;
    text-decoration: none;
    font-size: 24px;
    color: white;
  }